body { background-color: rgba(0,0,0,0); margin:0px;}
button { display: block; }
div#boss { position: relative; color: white; margin: 0px; margin-top: 3px; margin-bottom: 0px; margin-right:12px; font-family: 'Press Start 2P', cursive; font-size: 14px;}
span#scroll {  position: absolute; margin: 0; max-width: 100%; overflow-x: hidden; }
span#loss {  position: fixed; left: 15px; z-index: 5; visibility: hidden; font-family: 'Press Start 2P', cursive; font-size: 15px; color: white;}
span#test { position: fixed; top: 200px; left: 500px; visibility: hidden; margin: 0; font-family: 'Press Start 2P', cursive; font-size: 14px;}
span#attackerdisplay { margin: 0; }
h5#hp { color: white; position: absolute; margin: 0; padding-left: 10px; margin-bottom: 5px; margin-top: 0px;  font-family: 'Press Start 2P', cursive; font-size: 10px; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); z-index: 4; }
div.allcontainer {padding:0px; margin: 0px; background-color: #222; background-image: url('../images/zeldaTheme/Border_300x100.png'); background-repeat: no-repeat; background-size: 300px 100px; width:100%; height:100%;}
div#imgcontainer { position: relative; display: inline-block; height: 83px; width: 82px; margin-left: 9px; margin-right: 5px; margin-top: 8px; }
div#infocontainer { display: inline-block; margin-top: 10px; margin-bottom: 0px; vertical-align: top; width: calc(100% - 100px); }
div#healthcontainer { position: relative; height: 35px; bottom: 10px; margin-top:2px; margin-left: -5px; margin-right: 3px;}
div#attackercontainer { color: white; padding-top: 1px; margin-left:2px; font-family: 'Press Start 2P', cursive; font-size: 8px; overflow-x: hidden; text-overflow: ellipsis; white-space: nowrap; }
div#background { background-color: red; position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; z-index: 1; }
div#hitdelay { background-color: orange; position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; z-index: 2; }
div#health { background-color: green; position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; z-index: 3; }
img#avatar { position: absolute; height: 100%; z-index: 1; }
img#strikeimg { position: absolute; height: 100%; z-index: 2; }
img#explodeimg { position: absolute; height: 100%; z-index: 2; }
img#cheerimg { width: 14px; height: 14px; display: inline; margin-right: 5px; }
ul#hearts {position: absolute; padding-left: 10px; top: 15px; margin-left: 0px; left:0px; right:0px; z-index: 3;}

ul#hearts li {
  display:inline-block;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 14px;
  height: 13px;
}

.FullHeart{
  background-image: url('../images/zeldaTheme/HeartContainerFull.png');
}

.HalfHeart{
  background-image: url('../images/zeldaTheme/HeartContainerHalf.png');
}

.EmptyHeart{
  background-image: url('../images/zeldaTheme/HeartContainerEmpty.png');
}

@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.4);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }
}